[Desktop Entry]
Encoding=UTF-8
Name=Astra
Comment=Astra P2P Cryptocurrency
Comment[fr]=Astra, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Astra, eşten eşe kriptografik sanal para birimi
Exec=Astra-qt %u
Terminal=false
Type=Application
Icon=Astra128
MimeType=x-scheme-handler/Astra;
Categories=Office;Finance;
